[submodule "libraries/utee"]
	path = libraries/utee
	url = ../utee.git
	branch = master
[submodule "libraries/agge"]
	path = libraries/agge
	url = ../agge.git
	branch = master
[submodule "libraries/utfia"]
	path = libraries/utfia
	url = ../utfia.git
	branch = master
